
/* Variables */
:root {
	--primary: #EA40A4;
	--business: #3a82ee;
	--personal: var(--primary);
	--light: #EEE;
	--grey: #888;
	--dark: #313154;
	--danger: #ff5b57;

	--business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
	--personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}
/* End of Variables */

/* Resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
}
/*button {
	appearance: none;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;}

input:not([type="radio"]):not([type="checkbox"]) {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}
/* End of Resets */

body {
	height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url("../images/Backgroundimgtodo2024.jpg") no-repeat center center/cover;
}

.app{
	width:400px;
	height: auto;
	min-height: 400px;
	padding: 10px;
	background: transparent;
	border: 2px solid #e6b7eca1;
	border-radius: 10px;
	backdrop-filter: blur(15px);
}

h1 {
	color: #eee;
	font-weight: 400;
	text-align: center;
	margin-bottom: 8px;
}

h3 {
	font-size: 1rem;
	font-weight: 400;
	margin: 0.5rem;
}
h5{
	margin: 0.5rem;
	text-align: center;
}

#new-todo-form{
	outline: none;
	font-size: 16px;
	background-color: transparent;
	padding: 10px;
	width: 100%;
	min-height: 45px;
	border-radius: 30px;
	border: 2px solid #e6b7eca1;
	margin-bottom: 10px;
}
#content, #dateInput{
	background: #e6b7eca1;
	color: #eee;
	border: none;
	outline:none;
	padding: 10px;
	border-radius: 10px;
	}

#content {
		margin-right: 20px;
	}

input::placeholder{
	color:#eee
}

.options {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: transparent;
	margin: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

label{
	display: flex;
	font-size: 0.83em;
	color:#eee
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 999px;
	border: 2px solid var(--business);
	margin-right: 4px;
}

.bubble.personal {
	border-color: var(--personal);
}

.bubble.date, .bubble.pending {
	border-color: purple;
}

.bubble::after {
	content: '';
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: var(--business);
	border-radius: 999px;
	transition: 0.2s ease-in-out;
}

.bubble.personal::after {
	background-color: var(--personal);
}

.bubble.date::after, .bubble.pending::after {
	background-color: purple;
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

#new-todo-form input[type="submit"] {
	width: 100%;
	font-size: 1.125rem;
	padding: 10px;
	border:none;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: purple;
	border-radius: 30px;
	cursor: pointer;
	transition: 0.2s ease-out;
	margin:8px 0 8px 0;
}

#new-todo-form input[type="submit"]:hover {
	background-color: #313154;
}

.filters{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #463c7b;
	border-radius: 5px;
	border: 2px solid #e6b7eca1;
	padding: 10px;
	cursor: pointer;
}
.todo-list {
	height: 300px;
	overflow-y: visible;
}

/* Track */
.todo-list {
    scrollbar-color: #d5d5d5 rgb(247, 247, 247); 
}

/* Thumb */
.todo-list {
    scrollbar-width: thin; 
}


.todo-list .list {
	margin: 1rem 0;
}

.todo-list .todo-item {
	background-color: #463c7b;
	padding: 10px 12px;
	border-radius: 5px;
	border: 2px solid #e6b7eca1;
	margin: 10px 0;
	transition: all 0.2s ease;
}
.todo-content,
.todo-date,
.actions{
	margin: 5px;
}

.todo-item label {
	display: flex;
	flex-direction: row-reverse;
	margin-right: 1rem;
	cursor: pointer;
}

.todo-item .todo-content input,
.todo-date input {
	background-color: transparent;
    border: none;
    color: #eee;
    font-size: 1.125rem;
	outline:none;
}

.todo-item .actions {
	display: flex;
	align-items: center;
}

.todo-item .actions button {
	border:none;
	background-color:transparent;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.todo-item .todo-content input:hover {
	background-color: #e6b7eca1;
}


.todo-item.done .todo-content input{
	text-decoration: line-through;
	color: var(--grey);
}

.actions button {
	margin-right: 1rem;
	opacity: 0.8;
}

.actions button.material-icons.deleteBtn {
	color: crimson;
}

.actions button:hover {
	background: grey;

}

.actions button:last-of-type {
	margin-right: 0;
}